bin
_dist

# Emacs save files
*~
\#*\#
.\#*

# Vim-related files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# git merge files
*.orig
*.patch
*.rej

.terraform.lock.hcl
.terraform.tfstate.lock.info
config-public
*.pem
*-plan
*.tfstate
*.tfvars
.env
.terraform

